<section class="p-6">
    <h2 class="text-2xl font-bold text-black-800 mb-4">Task List</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <% if(tasks.length > 0) { %>
            <% tasks.forEach( (task)=> { %>
                <div class="p-4 bg-white dark:bg-gray-800 shadow-md rounded-md">
                    <h3 class="text-lg font-bold text-gray-800 dark:text-gray-200 mb-2">Task ID:     <%= task.id %></h3>
                    <p class="text-gray-600 dark:text-gray-400">Name: <%= task.name %></p>
                    <p class="text-gray-600 dark:text-gray-400">Password: <%= task.password %></p>
                </div>
            <% }) %>
            <% } else { %>
                <span>Not found</span>
            <% } %>
    </div>
</section>