<div class="info-container">
    <div class="header">
        <span>ID</span>
        <span>Name</span>
    </div>
    <% if (users.length> 0) { %>
        <% users.forEach(user=> { %>
            <div class="info">
                <span>
                    <%= user.id %>
                </span>
                <span>
                    <%= user.name %>
                </span>
            </div>
        <% }); %>
        <% } else { %>
                <div>
                    <span>No users found</span>
                </div>
        <% } %>
</div>