<section class="p-6">
    <h2 class="text-2xl font-bold text-black-800 mb-4">User List</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <% if(users.length > 0) { %>
            <% users.forEach( (user)=> { %>
                <div class="p-4 bg-white dark:bg-gray-800 shadow-md rounded-md">
                    <h3 class="text-lg font-bold text-gray-800 dark:text-gray-200 mb-2">User ID: <%= user.id %></h3>
                    <p class="text-gray-600 dark:text-gray-400">Name: <%= user.name %></p>
                    <p class="text-gray-600 dark:text-gray-400">Password: <%= user.password %></p>
                </div>
            <% }) %>
            <% } else { %>
                <span>Not found</span>
            <% } %>
    </div>
</section>

<!-- <script>
    document.getElementById("form").addEventListener("submit", (e) => {
        e.preventDefault();
        const expectedId = document.getElementById("id").value.trim();
        const infos = document.querySelectorAll(".info");
        const message = document.getElementById("message");

        let foundMatch = false;

        infos.forEach(info => {
            const userId = info.dataset.userid;
            if (userId === expectedId || expectedId === "") {
                info.style.display = "flex";
                foundMatch = true;
            } else {
                info.style.display = "none";
            }
        });

        if (foundMatch) {
            message.classList.remove("show");
            message.classList.add("hide");
        } else {
            message.classList.remove("hide");
            message.classList.add("show");
        }
    });
</script> -->