<%- include ("partials/header.ejs", { isAuthenticated: isAuthenticated }) %>

<div class="content-container">
    <%- include("partials/tasks.ejs", { tasks }) %>
</div>

<%- include("partials/footer.ejs") %>
