<%- include ("partials/header.ejs", { isAuthenticated: isAuthenticated }) %>

<div class="content-container">
    <%- include("partials/users.ejs", { users: users }) %>
</div>

<%- include("partials/footer.ejs") %>
